<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.test_fix_sensor_version2">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".display"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".record"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".record_2"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".display_2"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".display_3"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.user.test_fix_sensor_version2.pebble.pebble_display"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.user.test_fix_sensor_version2.pebble.pebble_display_2"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.user.test_fix_sensor_version2.pebble.pebble_display_3"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.user.test_fix_sensor_version2.pebble.pebble_record"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.user.test_fix_sensor_version2.pebble.pebble_record_2"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.user.test_fix_sensor_version2.pebble.pebble_MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".watching">
        </activity>
        <activity android:name=".fix_action"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".fix_action_2"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>